{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'polls/style.scss' %}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Details</title>
  </head>
  <body>
    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %} {% for choice in question.choice_set.all %}
          <div class="form-check">
            <input
              type="radio"
              name="choice"
              id="choice{{ forloop.counter }}"
              value="{{ choice.id }}"
              class="form-check-input"
            />
            <label for="choice{{ forloop.counter }}" class="form-check-label"
              >{{ choice.choice_text }}</label
            >
          </div>
          <br />
          {% endfor %}
        </fieldset>
        <input type="submit" value="Vote" class="btn btn-danger" />
      </form>
    </div>
  </body>
</html>

<input
  type="radio"
  name="choice"
  id="choice{{ forloop.counter }}"
  value="{{ choice.id }}"
/>
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
