{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'polls/style.scss' %}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Polls</title>
  </head>

  {% if latest_question_list %}
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="height: 100vh"
  >
    <h1>Choose Question</h1>
    <ul>
      {% for question in latest_question_list %}
      <li class="list-group mt-2 box-border">
        <a
          href="{% url 'polls:detail' question.id %}"
          class="list-group-item list-group-item-action"
          >{{ question.question_text }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </div>
</html>
