{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'polls/style.scss' %}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Results</title>
  </head>
  <body>
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="height: 100vh"
    >
      <h1>{{ question.question_text }}</h1>

      <ul class="list-group">
        {% for choice in question.choice_set.all %}
        <li class="list-group-item mt-2 box-border">
          {{ choice.choice_text }} -- {{ choice.votes }}
          vote{{choice.votes|pluralize}}
        </li>
        {% endfor %}
      </ul>

      <a href="{% url 'polls:detail' question.id %}" class="btn btn-danger mt-2"
        >Vote again?</a
      >
    </div>
  </body>
</html>
