body{
    background: white url("images/blue2.jpg");
}
h1{
    color: #D3D3D3;
}
.box-border{
    box-shadow: 3px 3px rgba(175,177,181,0.75);
}

label{
    font-weight: bold;
    font-size: 14px;
    color:lightcoral
}